/* src/index.css */
body {
  margin: 0;
  font-family: 'Kanit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ถ้าใช้ SweetAlert2 ให้ฟอนต์ตรงด้วย */
.swal2-popup,
.swal2-title,
.swal2-html-container,
.swal2-confirm,
.swal2-cancel {
  font-family: 'Kanit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif !important;
}
.swal2-confirm,
.swal2-cancel {
  width: 120px !important; /* ปรับขนาดความกว้างตามที่ต้องการ */
  border-radius: 8px !important;
}
